.CardDeck {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0.85);
  transform-origin: center center;
}

.CardDeck .deck-stack {
  position: relative;
  width: 150px;
  height: 210px;
}

.CardDeck .deck-stack-inner {
  position: absolute;
  width: 150px;
  height: 210px;
}

.CardDeck .deck-card-wrapper {
  position: absolute;
}

.CardDeck .deck-placeholder {
  width: 150px;
  height: 210px;
  border: 2px dashed #555;
  border-radius: 12px;
}
