.DiscardPile {
  min-width: 100px;
}

.DiscardPile .discard-placeholder {
  width: 150px;
  height: 210px;
  border: 2px dashed #555;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 10px;
  text-transform: uppercase;
}

.DiscardPile .discard-cards {
  display: flex;
  align-items: center;
}

.discard-card-wrapper .Card {
  pointer-events: none;
}

.discard-card-wrapper {
  margin-left: -105px;
}

.discard-card-wrapper:first-child {
  margin-left: 0;
}
