.Hand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hand-cards {
  display: flex;
  perspective: 1000px;
  position: relative;
}

.card-wrapper {
  position: relative;
  transition:
    transform 0.2s ease,
    z-index 0s;
  margin-left: -15px;
  z-index: 1;
}

.card-wrapper:hover,
.card-wrapper:has(.Card.selected) {
  z-index: 10;
}

.card-wrapper:first-child {
  margin-left: 0;
}

.card-wrapper:nth-child(1) {
  transform: rotate(-5deg);
}

.card-wrapper:nth-child(2) {
  transform: translateY(-10px);
}

.card-wrapper:nth-child(3) {
  transform: rotate(5deg);
}
